.container
  .row
    .col-sm-6.col-sm-offset-3
      %br

      %h1.text-center
        What do you need?

      %br

      %h4.text-center
        Shoot me
        <a href="sms:#{ENV.fetch('TWILIO_CX_NUMBER')}">a text</a>
        or <a href="mailto:zimkies@gmail.com">email me</a> if you have other questions or feedback!

        %h3 What is just-one-thing (Jot)?
        %p Jot is a tool for getting your personal life in order. I was inspired to build it when I kept failing to accomplish basic personal goals each day, despite using lots of task and goal tools. This is a tool that is meant to complement other TODO apps, not replace them.

        %h3 How does just-one-thing (Jot) work?
        %p Jot sets you up with a personal assistant, Jane, who looks after your personal life. Each morning, she will pester you with text messages until you tell her one thing you'll accomplish.

        %p Every night, she'll also pester you until you've let her know that you've accomplished it.

        %p If you really fail to accomplish things on a consistent basis, she'll give you a call and try to work with you to figure out what's wrong.

        %h3 How can I stop Jane from pestering me?
        %p Part of Jane's role is force you to do one small thing each day. This can be a challenge sometimes, and I know in the heat of the moment you might be tempted to cut her out.

        %p Because of this, in order to get her completely out of your life, you'll have to call in and explain in person why you are giving her up.
