.front-page
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %h1.text-center Just one thing
        %br
        %br
        %br
        %br
        %br
        %h3.text-center A tool for helping you get your personal life in order.

        %br
        %br
        %br
        %br

.container.about
  .row
    .col-sm-6.col-sm-offset-3

      %br
      %br
      %br

      %h1.text-center
        How it works

      %br

      %h3.text-center
        Just One Thing sets you up with
      %h2.text-center.jane
        Jane
      %h3.text-center
        your personal assistant,
        %br
        %br
        who texts you each morning and evening to ensure that you've accomplished at least one thing in your personal life that day.

      %br
      %br


      .sign-container.text-center
        %a.btn.btn-lg.btn-primary{href: new_user_path} Great! Sign me up



